.footer-bg {
    background-color: var(--pink-made);
}

.footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    // padding-top: 720px;
}

.top-footer {
    width: 100%;
    position: absolute;
    top: -12%;
}

.medium-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px auto 0;
}

.left-footer {
    width: 234px;
    margin-bottom: 40px;
}

.motto1 {
    font-family: var(--big-font);
    font-size: 18px;
    font-weight: var(--weight-fnt-common);
    line-height: 20.61px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--pink-elipse);
    margin-bottom: 24px;
    margin-top: 0;
}

.motto2 {
    font-family: var(--big-font);
    font-size: 34px;
    font-weight: var(--weight-fnt-common);
    line-height: 38.93px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--red-passion);
    margin: 0px;
}

.social-media {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-links-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    gap: 28.24px;
    margin: 0;
}

.social-icon {
    width: 20px;
    height: 20px;
    gap: 18px;
    opacity: 0px;
    fill: var(--white);
}

.social-link-items {
    width: 34px;
    height: 34px;
    padding: 7px 0px 0px 7px;
    background-color: var(--pink-svg);
    border-radius: 50%;
}

.social-link-items:hover,
.social-link-items:visited {
    background-color: var(--red-passion);
    transition: var(--transition);
}

.contact-message {
    text-align: right;
    font-family: var(--common-font);
    font-size: 12px;
    font-weight: var(--weight-fnt-big);
    line-height: 22.32px;
    letter-spacing: 0.02em;
    margin: 0;
}

.phone {
    text-decoration: none;
    color: var(--red-passion);
}

a.phone:hover {
    transition: var(--transition);
    color: var(--black-pink);
}

.line {
    width: 95%;
    height: 2px;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.copyright {
    font-family: var(--common-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 26.04px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--black-pink);
    display: flex;
    flex-direction: column;
    margin: 16px auto 4px;
}

.copyright-writing {
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .medium-footer {
        flex-direction: row;
        gap: 100px;
    }
    .social-media {
        padding: 60px 0 0;
    }
    .contact-message {
    font-size: 14px;    
    line-height: 26.04px;
    }
    .motto1 {
        font-size: 26px;
        line-height: 29.77px;
    }
    .motto2 {
    font-size: 48px;
    line-height: 54.96px;
    letter-spacing: 0.06em;
    }
    .left-footer {
        margin-bottom: 0px;
        width: 340px;
    }
    .copyright {
        flex-direction: row;
        margin: 8px auto;
    }
}

@media screen and (min-width:1280px) {
    .medium-footer {
        margin-top: 24px;
        gap: 375px;
    }
    .bottom-footer {
        margin-top: 60px;
    }
    .left-footer {
        width: 474px;
    }
    .motto1 {
        font-size: 30px;
        line-height: 34.35px;
    }
    .motto2 {
        font-size: 57.5px;
        line-height: 66.41px;
    }
    .motto1 {
        margin-bottom: 16px;
    }
    .contact-message {
    font-size: 16px;
    line-height: 29.76px;
    letter-spacing: 0.02em;
    }
    .social-media {
        padding: 15px 0 0;
        gap: 0;
        justify-content: space-between;
    }
}