<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="..\sass\Gallery.css" />
    <style type="text/css"></style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="div-grid-gallery">
    <div class="gallery">
        <div class="column">
            <div class="photo">
                <img src="..\images\Gallery\home-pic5 5.jpg" alt="">
            </div>
        </div>
         <div class="column">
            <div class="photo">
                <img src="..\images\Gallery\home-pic5 4 (2).jpg" alt="">
            </div>
            <div class="photo">
                <img src="..\images\Gallery\home-pic5 6.jpg" alt="">
            </div>
        </div>

            <div class="column">
                <div class="photo">
                <img src="..\images\Gallery\home-pic5 1.jpg" alt="">
            </div>
            <div class="photo">
                <img src="..\images\Gallery\home-pic5 7.jpg" alt="">
            </div>
        </div>

            <div class="column">
                <div class="photo">
                    <img src="..\images\Gallery\home-pic5 9.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="..\images\Gallery\home-pic5 8.jpg" alt="">
                </div>
            </div>
            <div class="column-five">
                <div class="photo">
                    <img src="..\images\Gallery\home-pic5 10.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="..\images\Gallery\home-pic5 12.jpg" alt="">
                </div>
            </div>

            <div class="column">
                <div class="photo">
                    <img src="..\images\Gallery\home-pic5 11.jpg" alt="">
                </div>
            </div>
    </div>
</body>

</html>